.aa-datepicker-button, .aa-clear-button {
  background: #ccc;
  color: #333;
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
}
.aa-datepicker-button {
}
.aa-datepicker-button:hover {
  text-decoration: underline;
}
.aa-datepicker-button:hover i {
  text-decoration: none;
}

.aa-datepicker-button i {
  padding-right:4px;
}

.aa-calendar-wrapper {
  width: 250px;
  display: none;
  position: absolute;
  background: #fff;
  padding: 5px;
  border: solid 1px #ddd;
  border-radius: 3px;
}
.aa-calendar-wrapper.open {
  display: block;
}
.aa-calendar-header {
  display:block;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px #ccc;
}
.aa-calendar-wrapper .close {
  position: absolute;
  top:5px;
  right:5px;
  text-decoration: none;
}
.aa-input-wrapper {
  display:inline-block;
  width:50%;
}
.aa-input-wrapper input {
  width: 75%;
}
.aa-calendar {
  height: 150px;
  margin-top: 15px;
  border: solid 1px #ddd;
}
