<!DOCTYPE html>
<html data-ng-app='ngQuickDateDemo'>
  <head>
    <title>ngQuickDate Demo</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/pure/grids-nr-min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../build/src/ng-quick-date.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../build/src/ng-quick-date-default-theme.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../build/demo/demo.css" media="all" />
  </head>
  <body>
    <div data-ng-controller='example1Ctrl'>
      <div class='pure-g'>
        <div class='pure-u-1-4'>
          <label>Some Field</label>
          <input type='text' name='something' />
        </div>
        <div class='pure-u-1-4'>
          <label>Date 1</label>
          <datepicker ng-model='date1' icon-class='icon-calendar' />
        </div>
        <div class='pure-u-1-4'>
          <label>Also Date 1</label>
          <datepicker ng-model='date1' icon-class='icon-calendar' />
        </div>
      </div>
      <br/>
      <br/>
      <div class='pure-g'>
        <div class='pure-u-1-4'>
          <label>Date 2 (initially null)</label>
          <datepicker ng-model='date2' icon-class='icon-calendar' />
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../build/src/ng-quick-date.js"></script>
    <script type="text/javascript" src="../build/demo/demo.js"></script>
  </body>
</html>
