popup-font-color = #333
button-bg-color = #ccc
button-text-color = #333
popup-bg-color = #fafafa
popup-border-color = #ddd
calendar-bg-color = #fff
selected-date-bg-color = #b0ccde
today-font-color = #B58922

.datepicker
  font-size 15px
  font-family 'Helvetica Neue', Helvetica, Ariel, sans-serif

  input, select
    font-size 13px

.quickdate-button
  background button-bg-color
  color button-text-color
  padding 5px 10px
  display inline-block
  text-decoration none
  &:hover
    text-decoration underline
    i
      text-decoration none
  i
    padding-right 4px

.quickdate-popup
  color popup-font-color
  font-size 15px
  background-color popup-bg-color
  border solid 1px popup-border-color
  border-radius 3px
  -webkit-box-shadow 0px 10px 30px rgba(25, 25, 25, 0.92)
  -moz-box-shadow 0px 10px 30px rgba(25, 25, 25, 0.92)
  box-shadow 0px 10px 30px rgba(25, 25, 25, 0.92)

.quickdate-action-link:visited, .quickdate-action-link:hover
  color popup-font-color
 
.quickdate-next-month i
  padding-left:10px
.quickdate-prev-month i
  padding-right:10px

table.quickdate-calendar
  border solid 1px #ccc
  background-color calendar-bg-color

  th, td
    border-right 1px solid #ccc
    border-bottom 1px solid #ccc

  td
    &:hover
      background-color darken(calendar-bg-color, 10%)
    &.other-month
      background-color darken(popup-bg-color, 12%)
      color lighten(popup-font-color, 30%)
      &:hover
        background-color darken(popup-bg-color, 20%)
    &.selected
      background-color selected-date-bg-color
      font-weight bold
    &.is-today
      color today-font-color
      font-weight bold
