.ng-quick-date-calendar-wrapper
  background-color #fff
  border solid 1px #000
  text-align center
  width 250px
  display none
  position absolute
  padding 5px
  
  &.open
    display block
  .close
    position absolute
    top 5px
    right 5px

.ng-quick-date-calendar-header
  display block
  padding 2px 0
  margin-bottom 5px
  text-align center

.ng-quick-date-month
  display inline-block

a.ng-quick-date-prev-month
  float left
a.ng-quick-date-next-month
  float right


.ng-quick-date-inputs
  text-align left
  margin-bottom 10px

.ng-quick-date-input-wrapper
  width 48%
  display inline-block

.ng-qd-date-input, .ng-quick-date-time-select
  width 100px

table.ng-quick-date-calendar
  width 100%
  margin-top 5px

  th, td
    padding 5px

  td
    &:hover
      cursor pointer


.ng-quick-date-error
  border 1px solid red;
